.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.card-style{
  width: 15rem; height:10.5rem; margin:5px; padding:10px; background-color: rgba(255, 255, 255, 0.6); color: #457e98; text-align: center;
}

.dragable{
  cursor: move;
  display: flex;
  position: relative;
}
